{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Some Page</h1>
    <p class="lead">Some Page Stuff
    </p>
  </div>


  <div class="p-5 rounded mt-1">
    <div class="row">


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Some Page
          </div>
          <div class="card-body">
            <h5 class="card-title">Some Page Stuff</h5>
            <p class="card-text">Here's a description about some page</p>
            <a href="/some-page" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

    </div>
  </div>
</main>
{% endblock %}