{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Some Page</h1>
    <p class="lead">Some Page Stuff
    </p>
  </div>

  <div class="p-5 rounded mt-1">
    <div class="row">

      <form class="" action="/messages" method="post">

        <div class="mb-3">
          <label class="form-label" for="message">Message</label>
          <input type="text" class="form-control" id="message" placeholder="Type your message...">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Send!</button>

      </form>

    </div>
  </div>
</main>
{% endblock %}